body {
    margin: 0;
    padding: 0;
    background: #183b56;
    font-family: sans-serif;
}
.modal {
    width:500px;
    height: 420px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    h1 {
        margin: 0;
    }
    transform: translate(-50%, -50%);
    .main {
        display: flex;
        margin-top: 20px;
        text-align: center;

        &-left {
            width: 30%;
            .thermo {
                position: relative;
                height: 320px;
                overflow: hidden;
                margin-left: -70px;
                border-radius: 0 0 50% 50%;
                .price-target {
                    position: absolute;
                    top: 10%;
                    left: 59%;
                    width: 50px;
                    z-index: 50;
                    .line_p {
                        position: absolute;
                        right: -5px;
                        top: -3px;
                        color: #183b56;
                        font-size: 9px;
                    }
                    .line {
                        width: 15px;
                        height: 2px;
                        background: #c9ebfd;
                    }
                }
                .target-2 {
                   top: 45%;
                }
                .target-3 {
                    top: 78%;
                }
                &-progress {
                    position: absolute;
                    margin: auto;
                    left: 0;
                    right: 0;
                    bottom:0;
                    text-align: center;
                    z-index: 1;
                    font-size: 13px;
                    color: #fff;
                    animation: progress .5s linear;
                }
                &-percent {
                    position: absolute;
                    margin: auto;
                    left: 0;
                    right: 0;
                    text-align: center;
                    z-index: 1;
                    font-size: 13px;
                    color: #fff;
                }
                .percent-1 {
                    top: 10%;
                }
                .percent-3 {
                    top: 60%;
                }
                .percent-4 {
                    bottom: 10%;
                }
            }
            .thermo-shape__shadowed, .float {
                position: absolute;
                margin: auto;
                left: 0;
                right: 0;
                text-align: center;
                z-index: 1;
            }
            .float {
                top: 20%;
                &-holder {
                    position:relative;
                    &__percent {
                        position: absolute;
                        top: 51%;
                        left: 0;
                        right: 0;
                        margin-left: -2px;
                        font-size: 9px;
                        color: #ff475b;
                    }
                }
            }
        }
        &-right {
            width: 70%;
            .main-text {
                text-align: left;
                p {
                    font-size: 14px;
                    line-height: 20px;
                }
                p:last-of-type {
                    margin-top: 10px;
                }
            }
            .circles {
                display: flex;
                justify-content: space-around;
                align-items: flex-end;
                margin-top: 24px;
            }
            .bottom {
                display: flex;
                justify-content: space-around;
                text-align: center;
                margin-top: 32px;
                h3 {
                    font-size: 23px;
                    color: #183b56;
                    text-transform: uppercase;
                    margin: 0;
                }
                p {
                    font-size: 14px;
                    color: #183b56;
                    text-transform: uppercase;
                }
                p.percent {
                    font-size: 40px;
                    color: #60c316;
                    font-weight: bold;
                }

            }
        }
    }
    .circles-mobile {
        display: none;
    }
}

.circle {
    background: #afcadd;
    border-radius: 50%;
    position: relative;
    .oval-shadow {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: -3px;
        text-align: center;
        z-index: 1;
    }
}
.circle:nth-child(1) {
    width: 80px;
    height: 80px;
    .circle-text h3 {
        margin-top: 20px;
        font-size: 20px;
    }
    .oval-shadow {
        width: 50px;
    }
}

.circle:nth-child(2) {
    width: 70px;
    height: 70px;
    .circle-text h3 {
        margin-top: 17px;
        font-size: 16px;
    }
    .oval-shadow {
        width: 50px;
    }
}

.circle:nth-child(3) {
    width: 60px;
    height: 60px;
    .circle-text {
        position: absolute;
        top:0;
    }
    .circle-text h3 {
        margin-top: 13px;
        font-size: 14px;
    }
    .oval-shadow {
        width: 40px;
    }
}

.circle:nth-child(4) {
    width: 50px;
    height: 50px;
    background: #25c700;
    .circle-text h3 {
        margin-top: 9px;
        font-size: 12px;
    }
    .oval-shadow {
        width: 30px;
    }
}
.circle-text {
    text-align: center;

}
.circle-text h3,p {
    margin: 0;
    font-size: 10px;
}

.wave {
    position: relative;
    width: 100%;
    height: 100%;
    background: #25c700;
    border-radius: 50%;
    overflow: hidden;
}
.wave:before{
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    top: 0;
    left: 50%;
    transform: translate(-50%,-75%);
    background: #000;
}
.wave:before {
    border-radius: 35%;
    background: rgba(175,202,221,1);
    animation: animate 7s linear infinite;
 }
@keyframes progress {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}
@keyframes animate {
    0% {
        transform: translate(-50%,-75%) rotate(0deg);
    }
    100% {
        transform: translate(-50%,-75%) rotate(360deg);
    }
}

@media (max-width: 480px) {
    .modal {
        width: auto;
        min-width:320px;
        max-width:480px;
        height: 500px;

        h1 {
            font-size: 21px;
        }
        .main-left {
            width: 40%;
        }
        .main-right {
            width: 60%;
            .bottom {
                .make-bet, .your {
                    padding: 5px;
                }

                h3 {
                    font-size: 15px;
                    white-space: nowrap;
                }
                p {
                    font-size: 12px;
                    white-space: nowrap;
                    margin-top: 3px;
                }
                p.percent {
                    font-size: 27px;
                    margin-top: 3px;
                }
            }
            .main-text p {
                font-size: 13px;
            }
            .circles-desktop {
                display: none;
            }
        }
        .circles-mobile {
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            margin-top: 20px;
        }

    }

}
@media (max-width: 320px) {
    .modal {
        width: 260px;
        max-width: 320px;
        min-width: 260px;
        .main-left {
            width: 45%;
            .thermo {
                margin-left: -45px;
                .price-target {
                    .line_p {
                        right: -1px;
                    }
                }
            }
        }
        .main-right {
            width: 55%;
            .bottom {
                flex-direction: column;
                margin-top: 10px;
            }
        }
    }
    .circles-mobile {
        justify-content: space-between;
    }
    circle:nth-child(1) {
        width: 75px;
        height: 75px;
        .circle-text h3 {
            margin-top: 20px;
            font-size: 20px;
        }
        .oval-shadow {
            width: 50px;
        }
    }

    .circle:nth-child(2) {
        width: 65px;
        height: 65px;
        .circle-text h3 {
            margin-top: 17px;
            font-size: 16px;
        }
        .oval-shadow {
            width: 50px;
        }
    }

    .circle:nth-child(3) {
        width: 55px;
        height: 55px;
        .circle-text {
            position: absolute;
            top:0;
        }
        .circle-text h3 {
            margin-top: 13px;
            font-size: 14px;
        }
        .circle-text p {
            font-size: 9px;
        }
        .oval-shadow {
            width: 40px;
        }
    }

    .circle:nth-child(4) {
        width: 45px;
        height: 45px;
        background: #25c700;
        .circle-text h3 {
            margin-top: 9px;
            font-size: 12px;
        }
        .circle-text p {
            font-size: 8px;
        }
        .oval-shadow {
            width: 30px;
        }
    }
}
